$small: 768px;

.content-template {
    h1 {
        font-weight:bolder;
        font-family: var(--header-font);
    }
    p {
        font-size: 1.375vw;
        font-family: var(--primary-font);
    }
    @media (max-width: $small) {
        p  {
            font-size: 3vw;
        }
    }
}