.Department-navbar{
    margin-top: 100px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    // z-index: -1;
    .header{
        align-items: center;
        height: fit-content;
        padding: 25px;
        background-color: rgba(1, 55, 90, 0.81);
        color: white;
        .text-header{
            font-size: 15px;
            font-family: var(--content-header-font);
            text-align: left;
        }
        .ul-left{
            
            text-align: left;
        }
        .department_nav{
            .topsubMenu{
               margin-top: 20px;
               margin-bottom: 20px;
            }
            .col-nav{
                border-left:solid 1px white;
                padding-left: 50px;
            }
            .content-title {
                display: flex;
                justify-content: center;
                align-items: center;
                font-family: var(--header-font);
            }

            .text-link{
                color: white;
                text-decoration: none;
                font-size: small;
                font-family: var(--primary-font);
               
            }
        }
       
    }
}