.img-wrapper {
  padding: 0.5em;
  text-align: center;
}

.bio-icon {
  max-width: 350px;
}

.outline-section {
  display: flex;
  flex-direction: column;
  gap: clamp(0.25em, 2vw, 2.5em);
  padding: max(0.5em, 2%) 7% max(5rem, 5%) 7%;
}
@media (max-width: 768px) {
  .outline-section {
    padding: max(2rem, 5%) 7%;
  }
}
.outline-section .flex-direction-reverse {
  flex-direction: row-reverse;
}
.outline-section :nth-child(even) .bullet-point-text {
  order: 1;
}
@media (max-width: 768px) {
  .outline-section .bullet-point-text {
    order: 1;
  }
}
.outline-section .outline-bullet-point {
  white-space: pre-line;
  padding-top: clamp(1em, 4vw, 2em);
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: clamp(0.5em, 2vw, 5em);
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 768px) {
  .outline-section .outline-bullet-point {
    grid-template-columns: 1fr;
  }
}
.outline-section .outline-bullet-point .bullet-point-text {
  padding: 0.5em;
  flex: 0 0 50%;
}
.outline-section .outline-bullet-point .bullet-point-text .bullet-point-title {
  font-family: var(--font-merriwearther);
  font-weight: 800;
  letter-spacing: 0.015em;
  font-style: normal;
  font-size: clamp(1.5em, 4vw, 3.68em);
  margin-bottom: 0.5em;
}
.outline-section .outline-bullet-point .bullet-point-text .bullet-point-summery {
  color: #3D4450;
}
.outline-section .outline-bullet-point .bullet-point-img {
  aspect-ratio: 16/9;
  object-fit: cover;
  width: 100%;
}

.outline-track {
  padding: max(3em, 5%) 7% max(3em, 3%) 7%;
}
.outline-track .outline-track-hook {
  margin-bottom: 1em;
  color: var(--primary-text-color);
}
.outline-track .outline-track-description {
  width: 50%;
  margin-bottom: 2.5em;
  color: #DEDEDE;
}
@media (max-width: 768px) {
  .outline-track .outline-trackdescription {
    width: 100%;
    margin-bottom: 1em;
  }
}
.outline-track .track-content-wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
@media (max-width: 768px) {
  .outline-track .track-content-wrapper {
    flex-direction: column;
    align-items: center;
  }
}
.outline-track .track-content-wrapper .track-list {
  padding-right: 0.5em;
  margin-bottom: unset;
  flex: 0 0 70%;
  width: 70%;
  list-style: none;
  padding-left: unset;
}
.outline-track .track-content-wrapper .track-list .track-list-item {
  margin-bottom: clamp(1.5rem, 2vw, 4rem);
}
.outline-track .track-content-wrapper .track-list .track-list-item:nth-child(1) .track-label {
  color: #018ad6;
}
.outline-track .track-content-wrapper .track-list .track-list-item:nth-child(1) .track-label-bio {
  color: var(--bio-primary-color);
}
.outline-track .track-content-wrapper .track-list .track-list-item:nth-child(1) .track-label-ite {
  color: var(--ite-primary-color);
}
.outline-track .track-content-wrapper .track-list .track-list-item:nth-child(1) .track-label-teed {
  color: var(--tee-primary-color);
}
.outline-track .track-content-wrapper .track-list .track-list-item .track-label {
  font-family: var(--font-manrope);
  font-weight: 800;
  font-size: clamp(1.5rem, 4vw, 4rem);
  color: #DEDEDE;
  letter-spacing: 0.015em;
}
.outline-track .track-content-wrapper .track-list .track-list-item .track-description {
  font-size: clamp(0.75em, 1.25vw, 1.15em);
  font-family: var(--font-manrope);
  color: #DEDEDE;
  font-weight: 800;
}
@media (max-width: 768px) {
  .outline-track .track-content-wrapper .track-list {
    width: 100%;
  }
}
.outline-track .track-content-wrapper .track-icon {
  flex: 0 0 30%;
  width: 30%;
  max-width: 350px;
  object-fit: contain;
  padding-left: 2em;
}
@media (max-width: 480px) {
  .outline-track .track-content-wrapper .track-icon {
    padding-left: unset;
  }
}
.outline-track .important-note {
  margin-top: 4em;
  font-size: clamp(0.6em, 1.2vw, 0.85em);
  text-align: center;
  color: #DEDEDE;
  letter-spacing: 0.015em;
  font-style: italic;
  font-weight: bold;
  font-family: var(--font-lato);
  text-transform: uppercase;
}

.b1, .b2 {
  display: none;
  visibility: hidden;
  transition: all 250ms ease-in-out 250ms;
}

.back {
  display: block;
  visibility: visible;
}

.blue-linear-color {
  background: linear-gradient(88.05deg, #71C2EF 0%, #0079AD 100%);
}

.green-linear-color {
  background: linear-gradient(90deg, #A8DF66 0%, #28A477 100%);
}

.red-linear-color {
  background: linear-gradient(88.05deg, #F05951 0%, #F1826D 100%);
}

.forward-link {
  display: flex;
  align-items: center;
}
.forward-link .forward-title {
  margin-bottom: unset;
  color: #FFFFFF;
}
.forward-link .left-wrapper-content .forward-description {
  margin-bottom: 2em;
  color: var(--primary-text-color);
}
.forward-link .left-wrapper-content,
.forward-link .forward-title {
  flex: 0 0 50%;
  width: 50%;
}
@media (max-width: 768px) {
  .forward-link {
    flex-wrap: wrap;
  }
  .forward-link .left-wrapper-content,
.forward-link .forward-title {
    margin-bottom: 0.5em;
    flex: unset;
    width: unset;
  }
}

.research-section .research-title {
  margin-bottom: 1em;
}
.research-section .research-layout-wrapper {
  display: grid;
  gap: clamp(1.5em, 4vw, 5em);
  grid-template-columns: 1fr 1fr;
}
.research-section .research-layout-wrapper .research-article {
  background-color: white;
  box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0);
  transition: box-shadow 0.3s ease-in-out;
}
.research-section .research-layout-wrapper .research-article:hover {
  box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.3);
  cursor: pointer;
}
.research-section .research-layout-wrapper .research-article .research-img {
  width: 100%;
  object-fit: cover;
  aspect-ratio: 2.77;
}
.research-section .research-layout-wrapper .research-article .textWrapper {
  padding: 0 2em;
}
.research-section .research-layout-wrapper .research-article .research-name {
  color: #3D4450;
  margin-top: 1em;
  margin-bottom: 0.5em;
  font-size: clamp(1.25em, 2vw, 2.25em);
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.research-section .research-layout-wrapper .research-article .research-description {
  font-family: var(--font-quicksand);
  font-weight: 600;
  font-size: clamp(0.75em, 1.25vw, 1.15em);
  line-height: 1.8em;
  color: #3D4450;
  margin-bottom: 1.8em;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
}
@media (max-width: 768px) {
  .research-section .research-layout-wrapper {
    grid-template-columns: 1fr;
  }
}

.evaluation-section .evaluation-section-title,
.evaluation-section .evaluation-section-table {
  color: var(--primary-text-color);
}
.evaluation-section .evaluation-section-title {
  margin-bottom: 0.5em;
}
.evaluation-section .evaluation-section-description {
  width: 50%;
  margin-bottom: 5em;
  color: #DEDEDE;
}
@media (max-width: 768px) {
  .evaluation-section .evaluation-section-description {
    width: 100%;
    margin-bottom: 2.5em;
  }
}

.table-align-start {
  text-align: start;
}

.table-td-start-padding {
  padding-left: 1.5em;
}

.curriculum-section-table,
.evaluation-section-table {
  padding: 1em;
  text-align: center;
  width: 100%;
}
.curriculum-section-table .table-thead .table-main-header,
.evaluation-section-table .table-thead .table-main-header {
  font-family: var(--font-lato);
  font-style: italic;
  color: #DEDEDE;
  text-transform: uppercase;
  letter-spacing: 0.015em;
  padding-bottom: 1.5em;
}
.curriculum-section-table .table-thead .table-tr,
.evaluation-section-table .table-thead .table-tr {
  color: #DEDEDE;
}
.curriculum-section-table .table-thead .table-tr .table-th,
.evaluation-section-table .table-thead .table-tr .table-th {
  white-space: nowrap;
  font-weight: 700;
  font-family: var(--font-manrope);
  border-top: 1px solid var(--primary-text-color);
  border-bottom: 1px solid var(--primary-text-color);
  padding: 1em;
  font-size: clamp(12px, 1.25vw, 1.5em);
  line-height: 1.35em;
  width: 33.3333333333%;
}
@media (max-width: 350px) {
  .curriculum-section-table .table-thead .table-tr .table-th,
.evaluation-section-table .table-thead .table-tr .table-th {
    padding: 1em 0.25em;
  }
}
@media (max-width: 768px) {
  .curriculum-section-table .table-thead .table-tr .table-th-title,
.evaluation-section-table .table-thead .table-tr .table-th-title {
    width: 100%;
  }
}
.curriculum-section-table .table-tbody .table-tr,
.evaluation-section-table .table-tbody .table-tr {
  margin-top: 1em;
}
.curriculum-section-table .table-tbody .table-tr .table-td,
.evaluation-section-table .table-tbody .table-tr .table-td {
  padding-top: 1em;
}
.curriculum-section-table .table-tbody .table-td-col,
.evaluation-section-table .table-tbody .table-td-col {
  font-weight: bold;
  font-family: var(--font-manrope);
  padding: 1em 1em 0 1em;
  font-size: clamp(12px, 1vw, 1em);
}
@media (max-width: 360px) {
  .curriculum-section-table .table-tbody .table-td-col,
.evaluation-section-table .table-tbody .table-td-col {
    padding: 0.25em 0.25em 0 0.25em;
  }
}

.curriculum-teed-color {
  background-color: #000;
}

.curriculum-Section {
  color: var(--primary-text-color);
}
.curriculum-Section .curriculum-Section-title,
.curriculum-Section .curriculum-Section-description {
  white-space: pre-line;
  margin-bottom: unset;
  flex: 0 0 50%;
  width: 50%;
}
.curriculum-Section .curriculum-Section-description {
  color: #DEDEDE;
}
.curriculum-Section .curriculum-Section-table {
  margin-bottom: 5em;
}
.curriculum-Section .curriculum-Section-table .table-header {
  text-align: center;
  margin-top: 0.75em;
  margin-bottom: 1em;
}
.curriculum-Section .curriculum-Section-table .grid-layout-column .curriculum-section-table {
  height: fit-content;
}
.curriculum-Section .curriculum-Section-title {
  margin-bottom: 0.5em;
}
@media (max-width: 768px) {
  .curriculum-Section .curriculum-Section-description {
    flex: unset;
    width: unset;
  }
}

.subNav-section {
  z-index: 998;
  top: 104px;
  position: sticky;
  padding: 0.8em 0;
  background-color: var(--primary-text-color);
}
@media (max-width: 1024px) {
  .subNav-section {
    top: 80px;
  }
}
@media (max-width: 768px) {
  .subNav-section {
    display: none;
  }
}

.soft-box-shadow {
  box-shadow: 0 2px 2px -2px rgba(0, 0, 0, 0.2);
}

.hard-box-shadow {
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16);
}

.slide-nav {
  display: flex;
  justify-content: center;
  padding-left: unset;
  gap: clamp(0.5em, 1vw, 1em);
  margin: clamp(2em, 5vw, 5em) 0;
}
.slide-nav .nav-li {
  text-align: center;
  display: flex;
  align-items: center;
  padding: 0.3em 1.25em;
  list-style: none;
  font-size: clamp(0.7em, 1.5vw, 1em);
  font-family: var(--font-manrope);
  font-weight: bold;
  border-radius: 90px;
  outline: 2px solid #00151c;
}
.slide-nav .nav-li:hover {
  transition: outline-color 0.7s ease-out;
  cursor: pointer;
  outline: 2px solid #DEDEDE;
}
.slide-nav .nav-selected {
  background-color: #014164;
  color: var(--primary-text-color);
}
.slide-nav .nav-selected:hover {
  box-shadow: inset 0 4px 4px rgba(0, 0, 0, 0.25);
  outline: unset;
}

.bio-header-color {
  color: var(--bio-primary-color);
}

.tee-header-color {
  color: var(--tee-primary-color);
}

.ite-header-color {
  color: var(--ite-primary-color);
}

.ascs-header-color {
  color: var(--ascs-primary-color);
}

.slide-animation {
  animation-name: move-right;
  animation-duration: 1s;
  animation-fill-mode: both;
  animation-direction: normal;
  animation-timing-function: ease-in-out;
}

@keyframes move-right {
  from {
    opacity: 0;
    transform: translateX(-500px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
.staff-section .staff-section-title {
  margin-bottom: 1em;
}
.staff-section .staff-section-description {
  width: 70%;
  margin-bottom: 5em;
  color: #3D4450;
}
@media (max-width: 768px) {
  .staff-section .staff-section-description {
    width: 100%;
  }
}
@media (max-width: 480px) {
  .staff-section {
    padding-left: unset;
    padding-right: unset;
    padding-bottom: unset;
  }
  .staff-section h2 {
    padding-left: 7%;
  }
}
.staff-section .academic-staff-layout {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: clamp(0.75em, 3vw, 5em);
}
@media (max-width: 768px) {
  .staff-section .academic-staff-layout {
    justify-content: space-between;
  }
}
@media (max-width: 1024px) {
  .staff-section .academic-staff-layout {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 480px) {
  .staff-section .academic-staff-layout {
    display: flex;
    grid-template-columns: repeat(1, 1fr);
    gap: clamp(2em, 3vw, 5em);
    overflow: scroll;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  .staff-section .academic-staff-layout .academic-staff-card:nth-child(1) {
    margin-left: 7%;
  }
  .staff-section .academic-staff-layout .academic-staff-card:last-child {
    margin-right: 7%;
  }
}
.staff-section .academic-staff-layout .academic-staff-card {
  overflow: hidden;
  position: relative;
  height: clamp(460px, 45vw, 680px);
  background: white;
  text-align: start;
  box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0);
  transition: box-shadow 0.3s ease-in-out;
}
@media (max-width: 1024px) {
  .staff-section .academic-staff-layout .academic-staff-card {
    height: clamp(510px, 65vw, 620px);
  }
}
@media (max-width: 768px) {
  .staff-section .academic-staff-layout .academic-staff-card {
    height: clamp(440px, 70vw, 620px);
  }
}
@media (max-width: 600px) {
  .staff-section .academic-staff-layout .academic-staff-card {
    height: clamp(400px, 80vw, 440px);
  }
}
@media (max-width: 480px) {
  .staff-section .academic-staff-layout .academic-staff-card {
    margin-bottom: max(2rem, 5%);
    flex: 0 0 75%;
    height: clamp(550px, 130vw, 650px);
  }
}
@media (max-width: 400px) {
  .staff-section .academic-staff-layout .academic-staff-card {
    height: clamp(480px, 140vw, 550px);
  }
}
.staff-section .academic-staff-layout .academic-staff-card:hover {
  box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.3);
}
.staff-section .academic-staff-layout .academic-staff-card .show-more-toggle-checkbox:checked ~ .show-more-toggle-label .toggle-label-on {
  display: none;
}
.staff-section .academic-staff-layout .academic-staff-card .show-more-toggle-checkbox:checked ~ .show-more-toggle-label .toggle-label-off {
  display: block;
}
.staff-section .academic-staff-layout .academic-staff-card .show-more-toggle-checkbox:checked ~ .contentWrapper {
  display: none;
}
.staff-section .academic-staff-layout .academic-staff-card .show-more-toggle-checkbox:checked ~ div .academic-staff-img {
  float: right;
  width: 20%;
  border-radius: 100%;
  margin: 1.5em 1.5em 0 0;
}
.staff-section .academic-staff-layout .academic-staff-card .show-more-toggle-checkbox:checked ~ .contentWrapper-full {
  visibility: visible;
  padding: 5%;
  opacity: 1;
  height: 100%;
}
.staff-section .academic-staff-layout .academic-staff-card .academic-staff-img {
  width: 100%;
  aspect-ratio: 1/1;
  object-fit: cover;
  transition: width 350ms 50ms, border-radius 100ms ease-in, margin 300ms;
}
.staff-section .academic-staff-layout .academic-staff-card .contentWrapper {
  transition: padding 150ms, opacity 250ms;
  padding: 5%;
}
.staff-section .academic-staff-layout .academic-staff-card .contentWrapper-full {
  visibility: hidden;
  opacity: 0;
  transition: opacity 250ms ease-in-out, opacity 250ms 300ms ease-in-out;
}
.staff-section .academic-staff-layout .academic-staff-card .contentWrapper-full .academic-staff-bio-full {
  max-height: 450px;
  height: 27vw;
  overflow: auto;
  font-family: var(--font-quicksand);
  scrollbar-width: thin;
  text-align: start;
  font-size: clamp(0.7em, 1vw, 1em);
  font-weight: 600;
}
@media (max-width: 1024px) {
  .staff-section .academic-staff-layout .academic-staff-card .contentWrapper-full .academic-staff-bio-full {
    max-height: 420px;
    height: 40vw;
  }
}
@media (max-width: 480px) {
  .staff-section .academic-staff-layout .academic-staff-card .contentWrapper-full .academic-staff-bio-full {
    max-height: 600px;
    height: 95vw;
  }
}
.staff-section .academic-staff-layout .academic-staff-card .academic-staff-name {
  font-family: var(--font-manrope);
  font-weight: 800;
  margin-bottom: 0.35em;
}
.staff-section .academic-staff-layout .academic-staff-card .academic-staff-bio,
.staff-section .academic-staff-layout .academic-staff-card .academic-staff-email,
.staff-section .academic-staff-layout .academic-staff-card .academic-staff-role {
  font-family: var(--font-quicksand);
}
.staff-section .academic-staff-layout .academic-staff-card .academic-staff-bio {
  color: black;
}
.staff-section .academic-staff-layout .academic-staff-card .academic-staff-email {
  color: #3D4450;
}
.staff-section .academic-staff-layout .academic-staff-card .academic-staff-role {
  color: #014164;
}
.staff-section .academic-staff-layout .academic-staff-card .academic-staff-email {
  font-family: var(--font-manrope);
  font-size: clamp(0.75em, 1vw, 1em);
  font-weight: 600;
}
.staff-section .academic-staff-layout .academic-staff-card .academic-staff-role {
  font-weight: bold;
  font-size: clamp(0.75em, 1vw, 1.25em);
}
.staff-section .academic-staff-layout .academic-staff-card .academic-staff-role {
  margin-bottom: 0.5em;
}
.staff-section .academic-staff-layout .academic-staff-card .academic-staff-email {
  margin-bottom: 0.75em;
}
.staff-section .academic-staff-layout .academic-staff-card .academic-staff-bio {
  visibility: visible;
  text-align: start;
  font-size: clamp(0.7em, 1vw, 1em);
  font-weight: 600;
  margin-bottom: 0.75em;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  /* number of lines to show */
  -webkit-box-orient: vertical;
}
@media (max-width: 480px) {
  .staff-section .academic-staff-layout .academic-staff-card .academic-staff-bio {
    -webkit-line-clamp: 6;
  }
}

.student-project-section {
  position: relative;
  background: #001f30;
  color: var(--primary-text-color);
}
.student-project-section .student-project-title {
  margin-bottom: 1.5em;
}
.student-project-section .flex-layout-column {
  align-items: start;
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  gap: clamp(1.5em, 4vw, 5em);
  overflow-y: hidden;
  /* Hide vertical scrollbar */
  overflow-x: hidden;
  /* Hide horizontal scrollbar */
}
.student-project-section .flex-layout-column ::-webkit-scrollbar {
  display: none;
}
.student-project-section .flex-layout-column .slide-show-button {
  padding: 0.75em 0.25em;
  color: var(--navbar-item-color);
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  transition: background 150ms ease-in-out;
}
.student-project-section .flex-layout-column .slide-show-button:hover {
  color: var(--primary-text-color);
  background: #003345;
}
.student-project-section .flex-layout-column .fa-chevron-right {
  right: 0%;
  font-size: clamp(1.5em, 3vw, 4em);
}
.student-project-section .flex-layout-column .fa-chevron-left {
  left: 3.5%;
  font-size: clamp(1.5em, 3vw, 4em);
}
.student-project-section .student-project-card {
  flex: 0 0 30%;
  width: 30%;
}
@media (max-width: 768px) {
  .student-project-section .student-project-card {
    flex: 0 0 100%;
    width: 100%;
  }
}
.student-project-section .student-project-card .student-project-name {
  margin-bottom: 0.25em;
}
.student-project-section .student-project-card .student-project-student-name {
  font-family: var(--font-lato);
  font-weight: 800;
  font-size: clamp(0.9em, 1vw, 1.25em);
  margin-bottom: 0.5em;
}
.student-project-section .student-project-card .student-project-description {
  text-transform: unset;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
}
.student-project-section .student-project-card .student-project-img {
  object-fit: cover;
  aspect-ratio: 3/2;
  width: 100%;
}

.mini-font-name {
  text-transform: capitalize;
  margin-top: 0.85em;
  margin-bottom: 0.5em;
  font-family: var(--font-manrope);
  font-size: clamp(1.25em, 1.25vw, 1.45em);
  font-weight: 800;
}

.mini-font-description {
  text-transform: capitalize;
  font-family: var(--font-quicksand);
  font-weight: bold;
  font-size: clamp(0.75em, 1vw, 1.06em);
  letter-spacing: 0.015em;
  color: #DEDEDE;
}

.forward-news-update-link {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: clamp(3em, 5vw, 5em);
  background: linear-gradient(88.05deg, #57D1D9 0%, #24DA98 99.91%);
}
@media (max-width: 480px) {
  .forward-news-update-link {
    gap: clamp(0.5em, 5vw, 5em);
  }
}
.forward-news-update-link .forward-content-wrapper {
  min-width: 150px;
}
.forward-news-update-link .forward-content-wrapper .forward-title {
  font-size: clamp(1.25rem, 5vw, 5rem);
  color: var(--primary-text-color);
  margin-bottom: 0.5em;
}
.forward-news-update-link .forward-content-wrapper .forward-description {
  margin-bottom: 1em;
  line-height: 1.5em;
  text-transform: uppercase;
}
.forward-news-update-link .forward-image {
  text-align: center;
  width: 100%;
  margin: auto;
  max-width: 350px;
}

.program-section .program-layout-wrapper {
  row-gap: clamp(1em, 2vw, 3em);
  column-gap: clamp(1em, 4vw, 5em);
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.program-section .program-layout-wrapper .program-card:first-child {
  grid-column: 1/4;
}
.program-section .program-layout-wrapper .program-card:first-child .program-img {
  width: 100%;
  max-height: 450px;
  object-fit: cover;
  aspect-ratio: unset;
}
.program-section .program-layout-wrapper .program-card .program-img {
  width: 100%;
  aspect-ratio: 16/9;
}

.job-section {
  display: flex;
  gap: clamp(0.5em, 2vw, 5em);
  background: #001f30;
}
.job-section .description-content .job-title,
.job-section .description-content .job-label {
  color: var(--primary-text-color);
}
.job-section .description-content .job-description {
  color: #B8BCBF;
}
.job-section .description-content .job-list {
  gap: clamp(1em, 1.5vw, 2em);
  list-style: none;
  padding-left: unset;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
@media (max-width: 480px) {
  .job-section .description-content .job-list {
    grid-template-columns: repeat(1, 1fr);
  }
}
.job-section .job-icon-image {
  width: 100%;
  object-fit: contain;
  max-width: 300px;
}
@media (max-width: 768px) {
  .job-section {
    display: block;
    text-align: center;
  }
  .job-section .job-title,
.job-section .job-description,
.job-section .job-label {
    text-align: start;
  }
  .job-section .job-icon-image {
    max-width: 150px;
  }
}

.section-department-intro {
  display: flex;
}
.section-department-intro .department-intro-text-margin-separator {
  margin-bottom: 3em;
}
.section-department-intro .intro-description {
  margin-bottom: 0.75em;
}
.section-department-intro .intro-sub-header {
  margin-bottom: 0;
  font-weight: bold;
}
.section-department-intro .section-department-text {
  width: 100%;
}
.section-department-intro .section-department-text .department-intro-header {
  margin-bottom: 0.5em;
}
.section-department-intro .section-department-text .department-intro-description {
  white-space: break-spaces;
  color: #3D4450;
}
@media (max-width: 1024px) {
  .section-department-intro .section-department-text {
    flex-basis: 100%;
    width: 100%;
  }
}
.section-department-intro .section-department-image {
  background: linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 50%), linear-gradient(270deg, rgba(255, 255, 255, 0) 0%, #FFFFFF 100%);
  flex-basis: 40%;
  width: 40%;
}
.section-department-intro .section-department-image .department-image {
  position: relative;
  z-index: -1;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
@media (max-width: 1024px) {
  .section-department-intro .section-department-image {
    display: none;
  }
}

/*# sourceMappingURL=global_section_style.css.map */
