.about-preview {
    img {
        position: absolute;
        object-fit: cover;
        height: 70vh;
        z-index: -1;
        @media (max-width: 768px) {
            height: 50vh;
        }
    }
    .body {
        opacity: 0;
        height: 70vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        //background-color: #014164b7;
        background-color: #014164e8;
        transition: opacity .5s linear;
        @media (max-width: 768px) {
            height: 50vh;
        }
        .header {
            h1 {
                color: #ffffff;
            }
        }
        .main {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin: 1em 0 1em 0;
            p {
                width: 50%;
                margin: auto;
                color: #ffffff;
                @media (max-width: 768px) {
                    width: 90%;
                    font-size: 13px;
                }
                @media (min-width: 768.5px) and (max-width: 1200px) {
                    width: 80%;
                    font-size: 14.5px;
                }
            }
            hr{
                background-color: #ffffff;
                width: 150px;
                opacity: 1;
            }
        }
        .footer {
            .learn-more-btn {
                background-color: #ffffff;
            }
        }
    }
}

// .about-preview:hover {
//     .body {
//         opacity: 1;
//         transition: opacity .5s linear;
//     }
// }