.upcoming-event-board {
  padding: 50px 0 100px 0;
  background-color: #ffffff;
  .main {
    width: 90%;
    margin: auto;
    display: flex;
    flex-direction: column;
    .header {
      display: flex;
      justify-content: space-between;
      .view-more-btn {
        transition: background-color 0.25s linear;
        background-position: right bottom;
        background-color: #f5f6f9;
        font-size: 1em;
        font-weight: 600;
        color: #a6a1a1;
        .fa-arrow-right {
          color: #a6a1a1;
        }
      }
      .view-more-btn:hover {
        background-color: #014164;
        color: #ffffff;
        .fa-arrow-right {
          color: #ffffff;
        }
      }
      h1 {
        margin: 0 0 0.2em 0;
        color: #014164;
      }
      hr {
        background-color: #014164 !important;
        width: 100px;
        margin: 0 0 2.125rem 0;
      }
      button {
        background-color: #ffffff;
        color: #014164;
        font-weight: 600;
        border-radius: 0;
      }
      hr {
        opacity: 100%;
        background-color: #ffffff;
        height: 3px;
        margin-top: 0;
      }
    }
    .content {
      margin: 0;
      img {
        width: 100%;
      }
      img:hover {
        opacity: 75%;
        cursor: pointer;
      }
      .event {
       display: flex;
       flex-direction: column-reverse;
       align-items: flex-end; 
      }
      .quick-preview-event {
        position: absolute;
        z-index: 1;
        background: #0070AD;
        color: #ffffff;
        font-weight: bold;
        padding: .7rem 1rem .7rem 1rem;
        h6 {
          margin: 0;
        }
        @media (max-width: 768px) {
          h6 {
            font-size: 0.7rem;
          }
        }
      }
    }
    .view-all-btn {
      color: #ffffff;
      font-size: large;
    }
  }
}
