.smallHeader
{
  position: relative;
  margin-top:1.5em;
  margin-bottom: 1em;
  //margin-left: 7%;
  display:inline-block;
  font-family: var(--header-font);
  text-transform: uppercase;
  font-style: normal;
  font-weight: bold;
  font-size:2.4rem;

  &::after
  {
    top: -1rem;
    position: absolute;
    content: " ";
    display:block;
    width:100px;
    height: 10px;
    //background: linear-gradient(90deg, #01A5FF 0%, #EA0FD4 100%);
    background: var(--primary-blue-brigh-text-color);
  }
}